<ion-grid class="ion-padding">
  <ion-card>
    <ion-card-header><strong class="ion-text-center" style="font-size: large">{{ user?.name }} {{user?.last_name}}</strong></ion-card-header>
    <ion-card-content>email: {{ user?.email }}</ion-card-content>
    <ion-card-content>rut: {{ user?.rut }} </ion-card-content>
    <ion-card-content>dirección: {{ user?.address }} </ion-card-content>
    <ion-card-content>teléfono: {{ user?.phone }} </ion-card-content>
    <ion-card-content *ngIf="user?.tiene_auto === true">
      <ion-button shape="round" size="small" color="success" (click)="verVehiculos()">Ver vehículos</ion-button>
    </ion-card-content>
    <ion-card-content *ngIf="user?.tiene_auto === false">
      Posee auto? No
    </ion-card-content>
    <ion-card-content *ngIf="user?.user_enabled === true"> usuario habilitado </ion-card-content>
    <ion-card-content *ngIf="user?.user_enabled === false"> usuario no habilitado </ion-card-content>
    <ion-card-content> viajes {{ user?.viajes }} </ion-card-content>
  </ion-card>

  <ng-template *ngIf="user?.tiene_auto; then conductor; else estudiante"></ng-template>

  <ng-template #conductor>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button size="small" (click)="crearVehiculo()" shape="round" color="warning">Crear vehículo</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" (click)="verViajes()" shape="round" color="warning">Ver viajes</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" (click)="crearViaje()" shape="round" color="success">Crear viaje</ion-button>
      </ion-col>
    </ion-row>

  </ng-template>

  <ng-template #estudiante>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button (click)="verViajes()" shape="round" color="success">Buscar viajes</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>

</ion-grid>

