<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button (click)="dismiss()">
        <ion-icon size="large" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <h1>Crear viaje</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="viajeForm" novalidate (submit)="crearViaje()">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col class="borderLogin">
          <ion-item>
            <ion-input  formControlName="asientos_disp" placeholder="4" label="Ingrese la cantidad de asientos disponibles"
                       label-placement="floating">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col class="borderLogin">
          <ion-item>
            <ion-input formControlName="precio" label="Ingrese el precio del viaje"
                       label-placement="floating" placeholder="$5000"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col class="borderLogin">
          <ion-item>
            <ion-input type="text" formControlName="origen" label="Dirección de origen"
                       label-placement="floating" placeholder="DuocUc"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="1">
        </ion-col>
        <ion-col class="borderLogin">
          <ion-item>
            <ion-input type="text" formControlName="destino" label="Dirección de destino"
                       label-placement="floating" placeholder="El Liquid"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>

      <ion-row style="padding-top: 3vh">
        <ion-col size="2"></ion-col>
        <ion-col>
          <ion-button type="submit" color="primary" shape="round" expand="full"> Crear viaje</ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
