<ion-header class="ion-padding">
  <ion-toolbar style="--background: gray">
    <ion-title>
      <ion-row>
        <ion-col style="margin: auto">
          <h1 style="color: yellow; margin: auto">Duoc<span style="color: #1e2023">UC</span></h1>
        </ion-col>
        <ion-col style="margin: auto">
          <ion-button (click)="logOut()" style="color: yellow;margin: auto">Cerrar sesión</ion-button>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-explore-container name="Pagina de Usuario" [user]="data"></app-explore-container>
</ion-content>

