.borderLogin{
  border: 2px solid white;
}
ion-item{
  --background: rgba(255, 255, 255, 0.07);
}
/*ion-select{
  display: -webkit-box;
}*/
.background-image{
 /* --background: url(../../assets/img/1517046331426.jpg) 0 0/100% 20% no-repeat;
  --color: white;
  color: white;*/
  --background: gray;

}
.sc-ion-input-md-h {
  --color: white
}
label {
  cursor: default;
  color: white;
  --color: white;
}
/*ion-header{
  box-shadow: none;
  ion-toolbar{
    --background: url(../../assets/img/1517046331426.jpg) 0 0/100% 100% no-repeat;
  }
}*/

