.borderLogin{
  border: 2px solid white;
}
ion-item{
  --background: rgba(255, 255, 255, 0.07);
}
ion-select{
  display: -webkit-box;
}
.background-image{
  --background: url(../../assets/img/Walter_White2.png) 0 0/100% 100% no-repeat;
}
.sc-ion-input-md-h {
  --color: white
}
label {
  cursor: default;
  color: white;
  --color: white;
}