<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>
      <h1>Vehiculos</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ng-container *ngFor="let auto of vehiculo">
    <ion-row class="ion-text-left">
      <ion-col>
        <h4>Marca<br>
        <span>{{auto.marca}}</span>
        </h4>
      </ion-col>
    </ion-row>
      <ion-row class="ion-text-left">
        <ion-col>
          <h4>Dueño<br>
            <span>{{user?.name}} {{user?.last_name}}</span>
          </h4>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-left">
        <ion-col>
          <h4>Disponible<br>
            <ng-container *ngIf="auto.disponible === true">
              <span>Si</span>
            </ng-container>
            <ng-container *ngIf="auto.disponible === false">
              <span>No</span>
            </ng-container>
          </h4>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
